
.body-index {
    background-image: url(../imagenes/pantalla.jpg);
    background-repeat: no-repeat;
   width: 100%;
   height: 100vh;
   background-size: 100% 100%;
   background-attachment: fixed;
}

.especial {
    font-size: 30px; 
    color:red;
}

.foto{
    background-image: url(../imagenes/fondo2.jpg);
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
}


  
  .boton:hover {
    background-color: yellow;
  }

  .cuerpo {
    background-color: green;
}
 
.imagen {
    width: 50%; 
    height: 40%;
}

.title-container {
    text-align: center;
}

.navegador {
    text-align: center;
    font-size: 35px;
    color: red;
    
}

.navegador:visited¨{
    background-color: red;
}

.comunicate{
    color: #ff61ed;
    font-family: Bauhaus 93;
    font-size: 20px;
}

.wasap{
    width: 62px;
    margin-top: -83px;
    margin-bottom: 100px;
    margin-right: px;
    margin-left: 85px;
    
    filter: drop-shadow( 5px 5px 10px gold);
      
  }
    
  
  
  .mapa{
      display: block;
      margin:50px;
      margin-left: 25px;
      width: 80px ;
      height: 20px;
      filter: drop-shadow( 5px 5px 10px gold);
      float: left;
     
  }

  .mapa:hover{
    background-color:;

  }
  
  .globo{
      width: 80px;
      height: 80px;
      width: 84px;
      margin-top: -227px;
      margin-bottom: 180px;
      margin-right: 0px;
      margin-left: 130px;
      filter: drop-shadow( 5px 5px 10px gold);
     
  }
  
  .navegadorabajo{
      float: inline-end;
      margin: 60px ;
     font-size:  35px;
     margin: 5px;
  }

  .beneficios{
      color:black;
      font-size: medium;
      font-style: oblique;
      background-color:#67aff6;
      text-align: center;
      margin-left: 75px;
      margin-right: 75px;

  }
  
  .manicura{
      color:black;
      width: 91%;
     background-color:#dd92fd;
     margin-left: -10px;

  }

  .tom {
    width: 80px;
    border-radius: 50%;   

    margin-top: 0px;
  margin-bottom: 0px;
  margin-right: px;
  margin-left: 10px;
  
}

.ga p{
    font-size: 18px;
    font-weight: 300px;
    margin-right: 60px;  
    color:#dbed47;
    
}

.ga img{
    float: left;
    margin-right: 10px;
    filter: drop-shadow( 5px 5px 10px gold);
}

.redes{
    color:black;
    font-size: larger;
    font-style: italic;
    background-color:#67aff6;
    text-align: center;
    margin-top: 80px;
    margin-left: -10px;
    
    
}

.instagram{
    width: 60px;
    filter: drop-shadow( 1px 1px 6px gold);
    

}
    

    
 
