.body-index {
    background-color: rgb(175, 219, 223);
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.especial {
    font-size: 30px;
    color: red;
}

.foto {
    background-image: url(../imagenes/fondo2.jpg);
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
}

.boton:hover {
    background-color: yellow;
}

.cuerpo {
    background-color: green;
}

.imagen {
    width: 50%;
    height: 40%;
}

.title-container {
    text-align: center;
}

.navegador {
    text-align: center;
    font-size: 35px;
    color: red;
}

.navegador:visited¨ {
    background-color: red;
}

.comunicate {
    color: #ff61ed;
    font-family: Bauhaus 93;
    font-size: 20px;
}

.wasap {
    width: 62px;
    margin-top: -70px;
    margin-bottom: 100px;
    margin-right: px;
    margin-left: 85px;
    filter: drop-shadow( 1px 1px 6px rgb(199, 184, 99));
}

.mapa {
    margin: 50px;
    margin-left: 25px;
    margin-bottom: -60px;
    margin-top: px;
    width: 80px;
    height: 20px;
    filter: drop-shadow( 1px 1px 6px rgb(199, 184, 99));
    float: left;
}

.globo {
    width: 80px;
    height: 80px;
    width: 84px;
    margin-top: -227px;
    margin-bottom: 180px;
    margin-right: 0px;
    margin-left: 130px;
    filter: drop-shadow( 1px 1px 6px rgb(199, 184, 99));
}

.navegadorabajo {
    float: inline-end;
    margin: 60px;
    font-size: 35px;
    margin: 5px;
}

.beneficios {
    color: black;
    font-size: medium;
    font-style: oblique;
    background-color: rgb(214, 96, 96);
    text-align: center;
    margin-left: 75px;
    margin-right: 75px;
}

.manicura {
    color: black;
    width: 91%;
    background-color: #e1c3ee5e;
    margin-left: -10px;
}

.tom {
    width: 80px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 200px;
    margin-left: 160px;
}

.ga p {
    font-size: 18px;
    font-weight: 300px;
    margin-right: 60px;
    color: #ed4779;
}

.ga img {
    float: left;
    margin-right: 10px;
    filter: drop-shadow( 5px 5px 10px #12ffb079);
}

.redes {
    color: black;
    font-size: larger;
    font-style: italic;
    background-color: #ca648f;
    text-align: left;
    margin-top: 130px;
    margin-left: -05px;
    padding: -3px;
}

.redes p {
    margin-right: 200px;
}

.instagram {
    width: 60px;
    filter: drop-shadow( 1px 1px 6px rgb(199, 184, 99));
}

.fotfin {
    margin-top: 10px;
    margin-left: 50px;
    width: 300px;
    height: 300px;
    border: solid rgb(116, 107, 108);
    box-shadow: 10px 5px 5px rgb(48, 38, 38);
}

.por {
    box-shadow: 10px 5px 5px rgb(214, 96, 96);
}